# Auto detect text files and perform LF normalization
* text=auto
*.pt filter=lfs diff=lfs merge=lfs -text
03_Dataset/**/*.jpg filter=lfs diff=lfs merge=lfs -text
03_Dataset/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
03_Dataset/**/*.png filter=lfs diff=lfs merge=lfs -text
03_Dataset/**/*.webp filter=lfs diff=lfs merge=lfs -text
